<div *ngIf="book" class="container mt-3">
    <div class="container mt-5">
        <h3>{{book.title}}</h3>
        <a href="#" [routerLink]="['/catalog/', book.bookID, 'details']" class="btn btn-primary" style="margin-top:10px">Back</a>
    </div>

    
    <div class="container mt-5">
            <div>
                <div class="form-group" style="max-width: 360px">
                    <label for="isbn">ISBN</label>
                    <input type="text"
                           class="form-control"
                           id="isbn"
                           [(ngModel)]="book.isbn"
                           name="isbn" />
                </div>
                <div class="form-group" style="max-width: 360px">
                    <label for="title">title</label>
                    <input type="text"
                           class="form-control"
                           id="title"
                           [(ngModel)]="book.title"
                           name="title" />
                </div>
                <div class="form-group" style="max-width: 360px">
                    <label for="subtitle">subtitle</label>
                    <input type="text"
                           class="form-control"
                           id="subtitle"
                           [(ngModel)]="book.subtitle"
                           name="subtitle" />
                </div>
                <div class="form-group" style="max-width: 360px">
                    <label for="author">author</label>
                    <input type="text"
                           class="form-control"
                           id="author"
                           [(ngModel)]="book.author"
                           name="author" />
                </div>
                <div class="form-group" style="max-width: 360px">
                    <label for="publisher">publisher</label>
                    <input type="text"
                           class="form-control"
                           id="publisher"
                           [(ngModel)]="book.publisher"
                           name="publisher" />
                </div>
                <div class="form-group" style="max-width: 360px">
                    <label for="pages">pages</label>
                    <input type="number"
                           class="form-control"
                           id="pages"
                           [(ngModel)]="book.pages"
                           name="pages" />
                </div>
                <div class="form-group" style="max-width: 360px">
                    <label for="value">value</label>
                    <input type="number"
                           class="form-control"
                           id="value"
                           [(ngModel)]="book.value"
                           name="value" />
                </div>
                <div class="form-group" style="max-width: 360px; height: auto">
                    <label for="description">description</label>
                    <textarea type="text"
                           class="form-control"
                           id="description"
                           [(ngModel)]="book.description"
                           name="description"
                           rows="5"></textarea>
                </div>
                <button (click)="saveBook()" class="btn btn-success" style="margin-block-start: 30px">Submit</button>
            </div>
    </div>
    
</div>