<header class="navbar-main">
    <nav class="container" aria-label="Main navigation">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav-btn">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">
                        <i class="fab fa-angular me-1"></i>Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/catalog" routerLinkActive="active">
                        <i class="fab fa-bootstrap me-1"></i>Catalog
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active">
                        <i class="far fa-question-circle me-1"></i>About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active">
                        <i class="fas fa-envelope me-1"></i>Contact
                    </a>
                </li>
                <li style="float:right" class="nav-item">
                    <a class="nav-link" routerLink="/signup" routerLinkActive="active">
                        <i class="fas fa-user-plus me-2"></i>Sign up
                    </a>
                </li>
                <li style="float:right" class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">
                        <i class="fas fa-sign-in-alt me-2"></i>Login
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
