<div class="container mt-3">
    <div class="content">
        <h1>Welcome to {{title}}!</h1>
        <span>{{ title }} is finally running!</span>
    </div>

    <h3>Here are some links if you've got lost: </h3>
    <ul>
        <li>
            <h3><a href="https://angular.io/docs">Angular Docs</a></h3>
        </li>
        <li>
            <h3><a href="https://angular.io/cli">CLI Documentation</a></h3>
        </li>
        <li>
            <h3><a href="https://blog.angular.io/">Angular blog</a></h3>
        </li>
    </ul>
</div>